@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #2c2c2d;
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: var(--background);
}

/* define all colors as variables */
:root {
  --text: #7f5af0;
  --background: #fff;
}

/* elements that change color */

h1,
h2 {
  color: var(--text);
}

/* Transitons for smooth theme change */
*:not(body) {
  transition: all 0.5s ease;
}

.app {
  text-align: center;
  padding: 2rem;
}

.color-button {
  background: #7f5af0;
  color: black;
  border: 2px solid #2cb67d;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.color-button--active {
  background: #2cb67d;
  border: 2px solid #7f5af0;
}

.color-button .icon {
  font-size: 50px;
  font-style: normal;
}
