@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #16161a;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  color: white;
}

:root {
  --black: #000;
  --green: #2cb67d;
  --grey: #94a1b2;
  --purple: #7f5af0;
  --red: #a31621;
}

a {
  color: white;
}
a:visited {
  color: var(--purple);
}
a:active,
a.active {
  color: var(--green);
}

h1 {
  margin-top: 0;
}
